
<td>{{article.description}}</td>
<td>{{article.notes}}</td>
<td>{{article.createdAt}}</td>
<td>{{view 'select' content=articleStates selection=articleState}}</td>
<td>
  {{#if article.isSaving}}
    <p>Saving...</p>
  {{else}} {{! else if article.isDirty requires v1.10 }}
    {{#if article.isDirty}}
      <button {{action 'saveArticle' article}}>Save</button>
    {{/if}}
  {{/if}}
</td>
