<div>
  <h2>Friend details for {{model.fullName}}</h2>
</div>

<form {{action "save" on="submit"}}>
  <h2>{{errorMessage}}</h2>
  <p>
    <label>
      First name
      {{input value=model.firstName}}
    </label>
  </p>
  <p>
    <label>
      Last name
      {{input value=model.lastName}}
    </label>
  </p>
  <p>
    <label>
      Email
      {{input type="email" value=model.email}}
    </label>
  </p>
  <p>
    <label>
      Twitter
      {{input value=model.twitter}}
    </label>
  </p>
  <p>
    <label>
      {{input type="checkbox" name=trusted}}
      Trusted
    </label>
  </p>
  <button type="submit">Submit</button>
  <button {{action "cancel"}}>Cancel</button>
</form>
