<form {{action "save" on="submit"}}>
  <h2>{{errorMessage}}</h2>

  <fieldset>
    {{input value=model.firstName placeholder='First name'}}
    {{input value=model.lastName placeholder='Last name'}}
    {{input value=model.email placeholder='Email'}}
    {{input value=model.Twitter placeholder='Twitter'}}

    <button type="submit">Submit</button>
    <button {{action "cancel"}}>Cancel</button>
  </fieldset>

</form>
