<div class="friend-profile">
  <p>Full name: {{model.fullName}}</p>
  <p>First name: {{model.firstName}}</p>
  <p>Last name: {{model.lastName}}</p>
  <p>Email: {{model.email}}</p>
  <p>Twitter: {{model.twitter}}</p>
</div>

{{link-to 'Lend to friend' 'articles.new' model class="button"}}
{{link-to 'Edit friend' 'friends.edit' model class="button"}}
<a href="#" class="button error" {{action "delete" model}}>Delete friend</a>


<!-- friend.show.articles go here -->
<div class="articles-container">
  {{outlet}}
</div>
