
{{#link-to 'friends.index'}}Back to friends index{{/link-to}}
{{#link-to 'friends.edit' model }}Edit friend{{/link-to}}

<ul>
  <li>First name: {{model.firstName}}</li>
  <li>Last name: {{model.lastName}}</li>
  <li>Email: {{model.email}}</li>
  <li>Twitter: {{model.twitter}}</li>
</ul>

<a href="#" {{action "delete" model}}>Delete friend</a>
