<form {{action 'save' on='submit'}}>
  <h2>{{errorMessage}}</h2>

  {{input value=model.description placeholder='Description'}}
  {{input value=model.note placeholder='Note'}}

  <button type="submit" class="primary">Save</button>
  <button {{action 'cancel'}}>Cancel</button>

</form>
